#forgot-panel {
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 292px;
}

#forgot-panel .error {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'GothamMedium';
    width: 100%;
    text-align: left;
    color: #374597;
}


#forgot-panel .field {
	border-radius: 2px;
    border: 2px solid #E6E6E6;
    font-size: large;
    width: calc(100% - 20px);
    height: 35px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    background-color: #E6E6E6;
    font-family: 'GothamBook';
}

#forgot-panel #main-action {
    background-color: #60C1EF;
    border-radius: 2px;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'GothamMedium';
    width: 100%;
    color: white;
    border: none;
    font-size: large;
}

#forgot-panel #sub-action {
	width: 100%;
    margin-bottom: 15px;
}

#forgot-panel #sub-action p {
    display: inline-block;
    margin-right: 5px;
    font-family: 'GothamBook';
}

#forgot-panel #sub-action a {
	color: #60C1EF;
    font-family: 'GothamBook';
}