#lost-internet {
	background-color: #F44336;
	border-radius: 4px;
	opacity: 0.8;
	width: 300px;
	position: absolute;
	top: 60px;
	height: 80px;
	left: 50%;
	margin-left: -155px;
	color: white;

}

#lost-internet p {
	float: left;
	margin-left: 10px;
	font-family: arial;
	line-height: 40px;
}

#lost-internet button {
	left: 10px;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	width: 80px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-family: arial;
	border-radius: 4px;
	font-size: 1em;
	border: 2px solid white;
}