#details-panel #main-action {
	border-radius: 2px;
	width: 298px;
	cursor: pointer;
}

#details-panel input {
	height: 36px;
	padding-left: 5px;
	margin-top: 12px;
	border: 1px solid #CCCCCC;
	width: calc(70% - 10px);
	font-size: medium;
}

#details-panel a {
	line-height: 60px;
	font-family: 'GothamMedium';
	color: #60C1EF;
}