#account-context-menu {
	border: 1px solid #CCCCCC;
	width: 348px;
	bottom: 0;
	right: 0;
	position: absolute;
	transform: translate(0, 100%);
    z-index: 10;
    background-color: white;
}

#account-context-menu #main-action {
	margin: 15px;
    margin-bottom: 10px;
    width: 318px;
    border-radius: 2px;
}

#account-context-menu #main-action a {
	display: inline-block;
    line-height: 35px;
    width: 100%;
    color: white;
    font-family: 'GothamMedium';
    text-decoration: none;
    text-align: center;
}

#account-context-menu #sub-action {
	width: calc(100% - 30px);
    margin-left: 15px;
    margin-bottom: 10px;
}

#account-context-menu #sub-action p {
    display: inline-block;
    margin-right: 5px;
    font-family: 'GothamBook';
}

#account-context-menu #sub-action a {
	color: #60C1EF;
    font-family: 'GothamBook';
}